

{% extends 'DB/base.html' %}
{% load static %}


{% block content %}
{% load render_table from django_tables2 %}

<html>
        <head>
        <title>Variant database</title>
		</head>
	   	<!-- Required meta tags -->
   		 <meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    	<!-- Bootstrap and datatables CSS -->
    	<link rel="stylesheet" type="text/css" href="{% static "DataTables/Bootstrap-4-4.1.1/css/bootstrap.min.css" %}"/>
    	<link rel="stylesheet" type="text/css" href="{% static "DataTables/datatables.min.css" %}"/>

    	<!-- jQuery, bootstrap and datatables javascript - jQuery must go first! -->
    	<script type="text/javascript" src="{% static "DataTables/jQuery-3.3.1/jQuery-3.3.1.min.js" %}"></script>
    	<script type="text/javascript" src="{% static "DataTables/datatables.min.js" %}"></script>
    	<script type="text/javascript" src="{% static "DataTables/Bootstrap-4-4.1.1/js/bootstrap.min.js" %}"></script>


    <div class="table-responsive">
    <table class="table table-hover">
		<thead>
		    <tr>
          <th>Gene</th>
		      <th>cDNA nomenclature</th>
		      <th>Protein nomenclature</th>
          <th>Genomic nomenclature</th>
		    </tr>
		</thead>

        {% for Variant in Variants %}
            <tr>
              <td>{{Variant.gene}}</td>
              <td><a href="{% url 'Variantpage' %}">{{ Variant.variant_cdna | truncatechars:20 }}</td>
              <td><a href="{% url 'Variantpage' %}">{{ Variant.variant_protein | truncatechars:20 }}</td>
              <td><a href="{% url 'Variantpage' %}">{{ Variant.variant_genome | truncatechars:20 }}</td>
            </tr>
        {% endfor %}

	</html>
{% endblock %}
